@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@font-face {
    font-family: 'Camphor Pro';
    src: url('fonts/camphor-pro-heavy.otf') format('opentype');
    font-weight: 800; /* Heavy */
    font-style: normal;
    font-display: swap;
  }

/* Araboto Normal (400) */
@font-face {
    font-family: 'Araboto';
    src: url('fonts/araboto-normal-400.ttf') format('truetype');
    font-weight: 400; /* Normal */
    font-style: normal;
    font-display: swap;
    }

/* Araboto Bold (700) */
    @font-face {
    font-family: 'Araboto';
    src: url('fonts/araboto-bold-400.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
    font-display: swap;
    }

/* General Styles */
.app-container {
    font-family: 'Araboto', sans-serif;
    padding: 20px;
    background-color: #dbdee0;
}

/* App title */
.app-title {
    text-align: center;
    font-size: 50px;
    font-family: 'Camphor Pro Heavy', sans-serif;
    font-weight: 800;
    color: #306B7E;
    margin-bottom: 30px;
}

/* Filters container */
.filter-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #306B7E;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Labels */
.filter-label {
    font-family: 'Araboto', sans-serif;
    font-weight: 400;
    font-weight: bold;
    color: #dbdee0;
    margin: 8px;
    display: block;
    text-align: center;

}
/* Row of dropdowns */
.dropdown-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

/* individual dropdown-container*/
.dropdown-container {
    flex: 1;
    min-width: 0;
    width: 300px;
    text-align: left;
}

/* Dropdowns */
.custom-dropdown {
    width: 100%;
    font-family: 'Araboto', sans-serif;
    font-weight: 400;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
    align-items: center;

}

/* Row of radio buttons */
.radio-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Radio items */
.radio-container {
    font-family: 'Araboto', sans-serif;
    font-weight: 400;
    margin-top: 10px;
}

.radio-option {
    margin: 0 10px;
    color: #dbdee0;
}


/* Graphs */
.graphs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: 'center';
    width: 100%;
    margin: 30px 0;
    flex-wrap: wrap;
    gap: 20px;

    
}

.dash-graph {
    border: 2px solid #4e79a7 !important;
    border-radius: 10px;
    padding: 15px;
    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin: 20px 0;
}


/* 

.sales-graph .growth-graph {

    border: 2px solid #306B7E;
    border-radius: 8px
} */